<html ng-app="foss4gapp">
<head>
  <title>FOSS4G UK - GeoFire</title>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/firebase/firebase.js"></script>
  <script src="node_modules/geofire/dist/geofire.js"></script>

  <script src="index.js"></script>
</head>
<body ng-controller="foss4gctrl">
  <pre>{{test}}</pre>

  <!-- <h1>Add Random Points</h1>
  ± lat <input type="number" min="0" max="90" ng-model="deltaPosition[0]"/>
  ± lon <input type="number" min="0" max="180" ng-model="deltaPosition[1]"/>
  number of points <input type="number" min="1" max="100000" ng-model="numOfPoints"/>
  <button ng-disabled="pointsLeft" ng-click="addRamdonPoints(deltaPosition, numOfPoints)">add random points</button>
  <span ng-show="pointsLeft">pointsLeft {{pointsLeft}}</span>

  <hr>
  <h1>Add Point</h1>
  lat <input type="number" min="-90" max="90" ng-model="newPoint[0]" />
  lon <input type="number" min="-180" max="180" ng-model="newPoint[1]" />
  <button ng-click="addPoint(newPoint)">add</button>

  <hr>
  <h1>Geo Query</h1>
  lat <input type="number" min="-90" max="90" ng-model="center[0]" ng-change="updateCriteria(center, radius)"/>
  lon <input type="number" min="-180" max="180" ng-model="center[1]" ng-change="updateCriteria(center, radius)"/>
  radius <input type="number" min="0" max="100" ng-model="radius" ng-change="updateCriteria(center, radius)"/>
  <button ng-click="getCurrentPosition()" ng-disabled = "calculatingPosition">get current Position</button>

  <hr>
  <h1>Points within {{radius}} km of {{center}}</h1>
  <ul>
    <li ng-repeat="(key,value) in points"><a href="" ng-click="removePoint(key)">{{key}} => {{value}}</a></li>
  </ul> -->
</body>
</html>
