<html ng-app="foss4gapp">
<head>
  <title>FOSS4G UK - GeoFire</title>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/firebase/firebase.js"></script>
  <script src="node_modules/geofire/dist/geofire.js"></script>

  <script src="index.js"></script>
</head>
<body ng-controller="foss4gctrl">
  <h1>Add Random Points</h1>
  ± lat <input type="number" min="0" max="90" ng-model="pmlat"/>
  ± lon <input type="number" min="0" max="180" ng-model="pmlon"/>
  amount <input type="number" min="1" max="100000" ng-model="amount"/>
  <button ng-disabled="left" ng-click="addRamdon(pmlat, pmlon, amount)">add random points</button>
  <span ng-show="left">left {{left}}</span>

  <hr>
  <h1>Add Point</h1>
  lat <input type="number" min="-90" max="90" ng-model="lat" />
  lon <input type="number" min="-180" max="180" ng-model="lon" />
  <button ng-click="add([lat,lon])">add</button>

  <hr>
  <div>
    <h1>Geo Query</h1>
    lat <input type="number" min="-90" max="90" ng-model="center[0]" ng-change="update(center, radius)"/>
    lon <input type="number" min="-180" max="180" ng-model="center[1]" ng-change="update(center, radius)"/>
    radius <input type="number" min="0" max="100" ng-model="radius" ng-change="update(center, radius)"/>
    <button ng-click="currentLocation()" ng-disabled = "calculatingLocation">get current Location</button>
  </div>

  <hr>
  <ul>
    <li ng-repeat="(key,value) in points"><a href="" ng-click="remove(key)">{{key}} => {{value}}</a></li>
  </ul>
  <!-- <pre>
{{points | json}}
  </pre> -->
</body>
</html>
